/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.add-payment-container {
  display: flex;
  margin-top: 50px;
}

/* Form styles */
form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* Adjust column widths as needed */
  gap: 1rem;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  grid-column: 1;
  text-align: right;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
  grid-column: 2;
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.add-pay-submit-btn {
  background-color: #2d6a4f;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10p;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;

  transition: background-color 0.3s, transform 0.3s;
}

.add-pay-submit-btn:hover {
  background-color: #1b4332;
  transform: scale(1.05);
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.payment-img {
  height: 430px;
  margin: 10px auto;
}

/* Responsive layout options */

@media (max-width: 768px) {

  /* For smaller screens */
  form {
    grid-template-columns: 1fr;
    /* Single column for smaller screens */
  }
}

@media (min-width: 992px) {

  /* For larger screens */
  form {
    flex-direction: row;
    gap: 2rem;
  }

  label {
    flex: 0 0 auto;
  }

  input,
  select {
    flex: 1 0 auto;
  }
}
